<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Visualization of mobile traffic data</title>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1.1", {packages: ["corechart", 'annotationchart']});
    </script>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=geometry,visualization,drawing,places&sensor=false"></script>
    <script data-main="/javascripts/app.js"
            src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40798199-5', 'unito.it');
        ga('send', 'pageview');

    </script>
</head>
<body>
<div id="controller-container" class="hidden">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">

    <div id="copyright-panel" class="absolute-panel">
        Mattia Bertorello <a target="_blank" href="/BigDataChallenge-Mattia_Bertorello.pdf">Slides</a> and
        <a target="_blank" href="https://bitbucket.org/MattiaB/visualization-of-mobile-traffic-data">Code</a>
    </div>
    <div id="time-panel" class="absolute-panel">
        <input type="checkbox" id="time-play"/>
        <label for="time-play">Play</label>
        <div id="time-slider"></div>
        <span id="time-text-panel"></span>
    </div>
    <div id="activity-panel" class="absolute-panel">
        <div>
            <button id="activity-range-button-info" class="button-info" data-toggle="modal" data-target="#activity-range-info">Info</button>
            <p class="title-control">Activity Range</p>
            <span id="activity-slide-text" class="slide-value">10 - 40</span>

            <div id="activity-range-slider"></div>
        </div>
        <div>
            <button class="button-info" data-toggle="modal" data-target="#threshold-info">Info</button>
            <p class="title-control">Threshold</p>
            <span id="relative-activity-slide-text" class="slide-value">30</span>

            <div id="relative-activity-slider"></div>
        </div>
        <div id="activity-low-scale-button">
            <input type="checkbox" id="activity-low-scale-checkbox"><label for="activity-low-scale-checkbox">Log Scale</label>
        </div>
    </div>
    <div id="filter-panel" class="absolute-panel">
        <div class="group-of-filer">
            <button class="button-info" data-toggle="modal" data-target="#group-by-time-info">Info</button>
            <p class="title-control">Group by time</p>
            <select id="group-time" class="form-control">
                <option value="hour">Hour</option>
                <option value="day">Day</option>
            </select>
        </div>
        <div class="group-of-filer">
            <button class="button-info"data-toggle="modal" data-target="#activity-type-info" >Info</button>
            <p class="title-control">Activity Type</p>

            <div id="activity-sms-type-selector">
                <input type="checkbox" id="sms-in-check"><label for="sms-in-check">SMS in</label>
                <input type="checkbox" id="sms-out-check"><label for="sms-out-check">SMS out</label>
            </div>
            <div id="activity-call-type-selector">
                <input type="checkbox" id="call-in-check"><label for="call-in-check">Call in</label>
                <input type="checkbox" id="call-out-check"><label for="call-out-check">Call out</label>
            </div>
            <div id="activity-internet-type-button">
                <input type="checkbox" id="internet-check"><label for="internet-check">Internet</label>
            </div>
        </div>
    </div>
    <div id="delete-rectangle-panel" class="absolute-panel">
        <button id="delete-rectangle-button">Delete selected area</button>
    </div>
    <div id="legend-panel" class="absolute-panel">
        <p>
            <span class="glyphicon glyphicon-stop lowOfRelativeValue"></span>
            < threshold value
        </p>
        <p>
            <span class="glyphicon glyphicon-stop UpOfRelativeValue"></span>
            > threshold value
        </p>
        <p>
            <span class="glyphicon glyphicon-stop inMagOut"></span>
            IN > OUT activity
        </p>
        <p>
            <span class="glyphicon glyphicon-stop outMagIn"></span>
            IN < OUT activity
        </p>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="activity-range-info" tabindex="-1" role="dialog" aria-labelledby="activity-range-info-label" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="activity-range-info-label">Activity General Info</h4>
                </div>
                <div class="modal-body">
                    <script id="general-statistic-template" type="text/x-dot-template">
                        <h4>Info</h4>
                        Filter the range of values visualized
                        in the map.
                        <h4>General Statistics</h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Max Value</th>
                                <th>Average</th>
                                <th>Variance</th>
                                <th>Standard Deviation</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>SMS IN</td>
                                <td>{{=it.max_sms_in.toFixed(3)}}</td>
                                <td>{{=it.avg_sms_in.toFixed(3)}}</td>
                                <td>{{=it.var_sms_in.toFixed(3)}}</td>
                                <td>{{=Math.sqrt(it.var_sms_in).toFixed(3)}}</td>
                            </tr>
                            <tr>
                                <td>SMS OUT</td>
                                <td>{{=it.max_sms_out.toFixed(3)}}</td>
                                <td>{{=it.avg_sms_out.toFixed(3)}}</td>
                                <td>{{=it.var_sms_out.toFixed(3)}}</td>
                                <td>{{=Math.sqrt(it.var_sms_out).toFixed(3)}}</td>
                            </tr>
                            <tr>
                                <td>Call IN</td>
                                <td>{{=it.max_call_in.toFixed(3)}}</td>
                                <td>{{=it.avg_call_in.toFixed(3)}}</td>
                                <td>{{=it.var_call_in.toFixed(3)}}</td>
                                <td>{{=Math.sqrt(it.var_call_in).toFixed(3)}}</td>
                            </tr>
                            <tr>
                                <td>Call OUT</td>
                                <td>{{=it.max_call_out.toFixed(3)}}</td>
                                <td>{{=it.avg_call_out.toFixed(3)}}</td>
                                <td>{{=it.var_call_out.toFixed(3)}}</td>
                                <td>{{=Math.sqrt(it.var_call_out).toFixed(3)}}</td>
                            </tr>
                            <tr>
                                <td>Internet</td>
                                <td>{{=it.max_internet.toFixed(3)}}</td>
                                <td>{{=it.avg_internet.toFixed(3)}}</td>
                                <td>{{=it.var_internet.toFixed(3)}}</td>
                                <td>{{=Math.sqrt(it.var_internet).toFixed(3)}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </script>
                    <div id="show-statistic-general-data"></div>
                    Distribution of  ​​sorted cells values
                    <div id="chart_div"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="group-by-time-info" tabindex="-1" role="dialog" aria-labelledby="group-by-time-info-label" aria-hidden="true">
        <div class="modal-dialog  modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="group-by-time-info-label">Group by time info</h4>
                </div>
                <div class="modal-body">
                    Select the grouping
                    behaviour by hour/day
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="activity-type-info" tabindex="-1" role="dialog" aria-labelledby="activity-type-info-label" aria-hidden="true">
        <div class="modal-dialog  modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="activity-type-info-label">Activity Type info</h4>
                </div>
                <div class="modal-body">
                    Select the type of activities
                    to show in the map. If the
                    user selects multiple types
                    the visualized value is the
                    average of the dataset
                    </br></br>
                    If you select only one
                    type of activity, for
                    example CALL, you
                    can see where the IN
                    call are greater than
                    OUT call ( <span class="glyphicon glyphicon-stop inMagOut"></span> ) and
                    vice versa (<span class="glyphicon glyphicon-stop outMagIn"></span> ).
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="threshold-info" tabindex="-1" role="dialog" aria-labelledby="threshold-info-label" aria-hidden="true">
        <div class="modal-dialog  modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="threshold-info-label">Threshold info</h4>
                </div>
                <div class="modal-body">
                    The user define a
                    threshold value used to set the
                    center of the scale.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="map-canvas"></div>
</body>
</html>

