html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0
}
/*Start Search Box*/
.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    width: 200px;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 201px;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
/*End Search Box*/
.button-info {
    float: right;
    width: 10px;
}
.absolute-panel {
    position: absolute;
    z-index: 5;
    background-color: #fff;
    padding: 5px;

    color: #555555;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*Start Time Panel*/
#time-panel {
    bottom: 60px;
    left: 20px;
}

#time-slider {
    display: inline-block;
    width: 250px;
}
#time-play {
    margin-right: 15px;
}
#time-text-panel {
    margin-left: 45px;
    display: block;
}
/*End Time Panel*/

/*Start Activity Panel*/
#activity-panel {
    bottom: 60px;
    right: 20px;
}
#activity-range-slider {
    width: 250px;
    display: inline-block;
}
#relative-activity-slider {
    width: 250px;
    display: inline-block;
}
#activity-low-scale-button {
    float: right;
}
.slide-value {
    width: 60px;
    display: inline-block;
    font-size: 9pt;
}
.title-control {
    text-align: center;
}
/*End Activity Panel*/

/*Start Group filter Activity Panel*/
.group-of-filer {
    margin-bottom: 10px;
}
#filter-panel {
    bottom: 220px;
    right: 20px;
    width: 250px;
}
#activity-call-type-selector, #activity-sms-type-selector, #activity-internet-type-button{
    width: 150px;
    margin: 10px auto auto;
}

#group-time {
    width: 150px;
    margin: auto;
}

#delete-rectangle-panel {
    bottom: 470px;
    right: 20px;
    width: 170px;
}
/*End Group filter Activity Panel*/

#legend-panel {
    top: 40px;
    right: 20px;
    width: 150px;
    padding-left: 15px;;
}
#legend-panel {
    font-size: 9pt;
}
.lowOfRelativeValue {
    color: #FFC300;
}

.UpOfRelativeValue {
    color: #0000DC;
}
.inMagOut {
    color: #0000FF;
}

.outMagIn {
    color: #FF0000;
}
.infobox {
    line-height:1.35;
    overflow: hidden !important;
    white-space:nowrap;
}

.waitbox {
    text-align: center;
}

#copyright-panel {
    bottom: 14px;
    right: 20px;
}